<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <test name="Regression Tests">
        <classes>
            <class name="com.revature.runners.BasicRunner"/>
        </classes>
    </test> <!-- Test -->
<!--    <test name="Regression Tests2">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests3">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests4">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests5">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests6">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests7">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests8">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests9">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests10">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests11">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests12">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests13">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests14">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests15">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests16">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests17">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests18">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests19">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Regression Tests20">-->
<!--        <classes>-->
<!--            <class name="com.revature.runners.BasicRunner"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
</suite> <!-- Suite -->